<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="h2 mb-2">PDF to Image</h1>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Select a PDF to convert
                    <br>
                    <small>
                        <strong class="text-danger">Images are deleted 10 minutes after upload. Please do not share links to the image, download them.</strong>
                    </small>
                </h4>
                <form action="/utils/pdf" class="dropzone" enctype="multipart/form-data" id="my-awesome-dropzone">
                </form>
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col">
                <h4>Using the API</h4>
                <p>You can use tthe below endpoint to get the image and then save it to the server.</p>

                <div>
                    <strong>URL:</strong>
                    <pre>http://35.229.57.42/utils/pdf</pre>
                </div>

                <div>
                    <strong>Request:</strong>
                    <pre>POST with multi-part form data. input[name="file"] is required.</pre>
                </div>

                <div>
                    <strong>Response:</strong>
                    <pre>{ image: "PATH_TO_IMAGE" }</pre>
                </div>

            </div>
        </div>
    </div>
</section>


<script>

    document.addEventListener('DOMContentLoaded', function () {
        Dropzone.options.myAwesomeDropzone = {
            init: function () {
                this.on('complete', function (e) {
                    const json = JSON.parse(e.xhr.response);
                    window.open(json.image);
                })
            }
        };
    })

</script>